{% extends "base.html" %}

{% block content %}
<form method="get">
    <input type="text" name="city" placeholder="Cidade" required>
    <button type="submit">Buscar</button>
</form>

{% if weather %}
    <h2>{{ weather.city }}</h2>
    <p>Temperatura: {{ weather.temperature }}°C</p>
    <p>Sensação térmica: {{ weather.feels_like }}°C</p>
    <p>Umidade: {{ weather.humidity }}%</p>
    <p>Condição: {{ weather.condition }}</p>
{% endif %}

{% if history %}
    <h3>Histórico recente</h3>
    <ul>
        {% for record in history %}
            <li>
                {{ record.created_at|date:"d/m H:i" }} —
                {{ record.temperature }}°C —
                {{ record.condition }}
            </li>
        {% endfor %}
    </ul>
    
    <div class="weather-chart-container">
        <h3>Temperatura ao Longo do Tempo</h3>
        <canvas id="temperatureChart"></canvas>
    </div>
{% endif %}

{% if error %}
    <p style="color:red">{{ error }}</p>
{% endif %}


{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var labels = JSON.parse('{{ labels|default:"[]"|safe }}');
    var temperatures = JSON.parse('{{ temperatures|default:"[]"|safe }}');

    if (labels.length && temperatures.length) {
        const ctx = document.getElementById('temperatureChart');

        if (ctx) {
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Temperatura (°C)',
                        data: temperatures,
                        tension: 0.3
                    }]
                },
                options: {
                    responsive: true
                }
            });
        }
    }
</script>
{% endblock %}
